@import "./typography.scss";

.header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;

    &__logo {
        font-size: 2rem;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;

    &__input {
        width: 90%;
        border-radius: 100px;
        border: none;
        margin-right: -3rem;
        padding: 1.5rem 2rem;
        transition: all 0.2s;

        &:focus {
            width: 100%;
            outline: none;
            // transform: scale(1.1);
        }
    }
    &__btn {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:focus {
            transform: rotate(-30deg);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__btn svg {
        width: 2rem;
        height: 2rem;
    }
}
