@import "./variables.scss";
@import "./header.scss";
@import "./typography.scss";
@import "./currentCard.scss";
@import "./currentProps.scss";
@import "./footer.scss";
@import "./props.scss";
@import "./hourly.scss";
@import "./daily.scss";
@import "./searchSuggestions";
@import "./spinners";
@import "./searchField";
@import "./errorMessage";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Railway", sans-serif;
    color: $font-color-light;

    @include respond(max-600) {
        font-size: 50%;
    }

    @include respond(max-800) {
        font-size: 56.25%;
    }
}

body {
    background-color: $color-bg;
}

.main {
    max-width: 140rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(2rem, 1fr));
    grid-template-rows: repeat(3, minmax(10rem, max-content)) max-content max-content repeat(3, minmax(7.5rem, 10vw)) 10vw;

    grid-gap: 1rem;
    padding: 10rem 2rem;
    margin: auto;

    @include respond(max-900) {
        grid-template-rows: repeat(6, minmax(10rem, max-content)) max-content max-content repeat(3, minmax(7.5rem, 10vw)) 10vw;
        max-width: 75rem;
    }
}

.flex-row {
    display: flex;
    align-items: center;
}

.mb-s {
    margin-bottom: 2rem;
}

.mb-m {
    margin-bottom: 3rem;
}

.mb-l {
    margin-bottom: 5rem;
}

.mb-xl {
    margin-bottom: 8rem;
}

.gradient--green {
    background-image: linear-gradient(0deg, rgba(189, 255, 109, 1) 0%, rgba(0, 255, 10, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient--yellow {
    background-image: linear-gradient(51deg, rgba(253, 255, 109, 1) 0%, rgba(255, 216, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient--orange {
    background-image: linear-gradient(51deg, rgba(255, 210, 109, 1) 0%, rgba(255, 169, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient--red {
    background-image: linear-gradient(270deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.test-box {
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
    border: 2px solid black;
}

.skeleton {
    animation: skeleton-loading 1s infinite alternate linear;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(210, 210, 210, 0.75);
    }

    100% {
        background-color: rgba(231, 231, 231, 0.939);
    }
}
